.container {
    background-color: #222;
    border-radius: 5%;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.wrapper {
    width: 220px;
    margin: 0 10px 10px 10px;
    padding: 2px;
    background: linear-gradient(to right, rgb(175, 40, 123), purple);
    border-radius: 5%;
}

.day {
    display: block;
    font-family: 'mononoki', 'Courier New', Courier, monospace;
}

ol {
    padding: 0;
    width: 100%;
}