.container {
    background-color: black;
    border: 3px solid purple;
    border-radius: 10%;
    color: white;
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day {
    display: block;
}